body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}
.product-wrapper {
  display: flex;
  flex-direction: row; /*не знаю как заставить заработать*/
}
.title {    /*Заголовок*/
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  margin: 0;
  margin-bottom: 110px;
}
.title-2 {
  font-size: 20px;
}
.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.label-text {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
}
.product-card {
  box-sizing: border-box;
  width: 340px;
  height: 560px;
  margin-bottom: 45px;
  margin-right: 45px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px;   /*тень карточки*/
  padding: 25px;
}
.component-list {
  padding-left: 15px;
}
.price {
  margin-top: 56px;
  font-size: 20px;
  display: flex ;  /*нужно разобраться чтобы разделить ценуи ценник*/
  justify-content: space-between; /*расположение элементов по ширине с одинаковыми отступами*/
}