* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}
.container {
  background-image: url(images/dandelion_bg.png);
  background-size: 71%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin: 0px auto;
  max-width: 1110px;
}
.container__title {    /*Заголовок*/
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  margin: 0;
  padding-top: 220px;
  padding-bottom: 110px;
}

@media (max-width: 1024px) {      /*для планшетов */
  .container__title {
    font-size: 60.2px;
    line-height: 67.08px;
    padding-top: 189.2px;
    padding-bottom: 94.6px;
  }
  .container {
    background-size: 70%;
  }

}

@media (max-width: 768px) {      /*для телефонов */
  .container__title {
    font-size: 30.15px;
    line-height: 33.54px;
    padding-top: 94.5px;
    padding-bottom: 47.3px;
  }
  .container {
    background-size: 50%;
  }

}
.products-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  gap: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card__title {
  font-size: 20px;
}
.product-card {
  width: 340px;
  min-height: 560px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px;   /*card shadow / тень карточки*/
  padding: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.product-card:hover {
  transform: translateY(-8px);    /* сдвигает карточку по оси У */
  box-shadow: 10px 10px 18px 0px;
 }
.product-card__component-list {
  padding-left: 15px;
}
.product-card__price-block {
  margin-top: auto;
}
.price {
  font-size: 20px;
  display: flex ;
  justify-content: space-between; /*расположение элементов по ширине с одинаковыми отступами*/
}
.product-card__price {
  margin-top: 56px;
  margin-bottom: 30px;
}
.product-card__button {
  margin: 0px auto;
}
